body {
    height: 95vh;
    display: flex;
    margin: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    font-family: 'Fira Code', monospace;
}

aside {
    text-align: center;
    padding-top: 30vh;
    background-color: rgb(134, 123, 141);
    box-shadow: 10px 4px 5px 0px rgba(0, 0, 0, 0.75);
    left: 10px;
}

.nav a {

    text-decoration: none;
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.nav a:hover {
    color: bisque;
}

.pfp {
    max-width: 200px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 50%;
}

.pfp:hover {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

main {
    width: 100%;
    margin-left: 10px;
    background-color: bisque;
}

main .title {
    position: relative;
    top: 150px;
    text-align: center;
}


.container {
    position: relative;
    text-align: left;
    font-weight: 300;
    top: 160px;
}

p a {
    text-decoration: none;
    color: black;
}

.social img {
    width: 50px;
}

.list {
    text-align: left;
    list-style-type: lower-alpha;
}

.tech img {
    width: 50px;

}

.tech {
    position: relative;
    top: 250px;
    left: calc(50% - 150px);
}

.objectives {
    list-style-type: square;
    text-align: left;
}